.gallery {
  margin-top: 64px;

  .searchRow {
    flex: 1;
    margin-bottom: 62px;

    .layouts {
      .layout {
        cursor: pointer;
        margin-right: 20px;
        &:last-child {
          margin-right: 43px;
        }
      }
      svg * {
        fill: #F2F3F5;
      }
      .activeLayout {
        svg * {
          fill: #000;
        }
      }
    }

    .searchInput{
      input {
        height: 36px;
        width: 270px;
        padding: 7px 30px 7px 12px;
      }
      svg {
        position: absolute;
        top: 9px;
        right: 12px;
      }
    }
  }

  .models {
    flex-wrap: wrap;
  }
}