.subMenu {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 213px;
  padding: 15px;
  background: #fff;
  box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.18);


  .all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
    text-transform: none;
    cursor: pointer;
    svg {
      transform: rotate(180deg);
    }
  }

  .list {
    text-transform: none;
    font-size: 17px;
    li {
      cursor: pointer;
      margin-bottom: 15px;
      transition: all 0.2s ease-in-out;
      &:last-child {
        margin-bottom: 0;
      }
      span {
        position: relative;
        transition: all 0.2s ease-in-out;
        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          background: #FF9619;
          transition: all 0.2s ease-in-out;
          transform: scaleX(0)
        }
      }
      &:hover span {
        transition: all 0.2s ease-in-out;
        color: #FF9619;
        &:after{
          transform: scaleX(1)
        }

      }
    }
  }
}